<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs')%>
    <h1>Comment Page</h1>
    <p>StreamDream: <%= comment.streamDream._id %> </p>
    <a href="/streamDream/<%= comment.streamDream.id %>">Look at more comments
    here <%= comment.streamDream.artist %> </a>


</body>
</html>