<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
    <%- include('partials/nav.ejs') %> 
<body>
    <section>
        <div>
            <h2 class="title"> StreamDream Selection Page</h2>
        </div>
    </section>

    <section class="container">
        <% for (let i = 0; i < streamDreams.length; i++) { %> 
        <% const stream = streamDreams[i] %>

    
        <div class="videoSection">
            <div class="videoBlock">
                <div class ="videoContainer">
                    <a href="/streamDream/<%= streamDreams[i]._id %> "><img class="streamDreamImg" src=<%= stream.img %> alt="Stream Dream image" /></a>
                </div>
                <div class="videoDescription">
                    <h3>Checkout new videos from <a href="/streamDream/<%= streamDreams[i]._id %> "><%= stream.artist %></a></h3>
                </div>
            </div>
        </div>
        <% } %> 
    </section>


</body>
</html>