<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
    <%- include('partials/nav.ejs') %> 
<body>
    <div class="exploreBar">
        <div class="categories">
            <button class="category">All</button>
            <button class="category">Music</button>
            <button class="category">Funny</button>
            <button class="category">Exercise</button>
            <button class="category">Dogs</button>
            <button class="category">Finance</button>
            <button class="category">Cats</button>
            <button class="category">NBA</button>
            <button class="category">Gaming</button>
            <button class="category">Coding</button>
            
        </div>
    </div>
    
    
    <section>
        <div>
            <h2 class="featuredVideos"> Featured Videos</h2>
        </div>
    </section>




    <section class="container">
        <% for (let i = 0; i < streamDreams.length; i++) { %> 
        <% const stream = streamDreams[i] %>

    
        <div class="videoSection">
            <div class="videoBlock">
                <div class ="videoContainer">
                    <a href="/streamDream/<%= streamDreams[i]._id %> "><img class="streamDreamImg" src=<%= stream.img %> alt="Stream Dream image" /></a>
                </div>
                <div class="videoDescriptionBox">
                    <a href="/streamDream/<%= streamDreams[i]._id %> "><img class="profileIcon" src=<%= stream.img %> alt="Stream Dream image" /></a>
                    <div class="videoInfo">
                        <h3><a class="videoTitle" href="/streamDream/<%= streamDreams[i]._id %> "><%= stream.song %></a></h3>
                        <h3><a class= "videoArtist" href="/streamDream/<%= streamDreams[i]._id %> "><%= stream.artist %></a></h3>
                    </div>
                </div>
            </div>
        </div>
        <% } %> 
    </section>


</body>
</html>