<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
    <%- include('partials/nav.ejs') %> 

<body>
 
    <div class = "video link"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

<%= %> video song
<%= %> video link
<%= %> artist
<%= %> video releaseDate
<%= %> video album
<%= %> img



</body>
</html>