<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %> 
    <%- include('partials/nav.ejs') %> 

<body>
   <div class="header">
      <img class="headerImg" src = <%= oneStreamDream.headerImg %>>
   </div>
   <div class="artistName">
      <h1><%= oneStreamDream.artist %></h1>
   </div>
   <div class="artistProfile"> 
      <div class="profileImageDiv">
         <img class="profileImage" src="<%= oneStreamDream.img %>"/>
      </div> 
      <div class="artistInfo">
         <h3><%= oneStreamDream.bio %></h3>
      </div>
   </div>

   
   <div class="showPageVideo">
      <div class="streamVideo">
         <iframe width='560' height='315' class="videoContainer" src="<%= oneStreamDream.link %>" title='YouTube video player'
         frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
      </div>  
      <div class="streamVideoInfo"><h3>
         <p><%= oneStreamDream.song %></p>
         <p><%= oneStreamDream.album %></p>
         <p><%= oneStreamDream.releaseDate %></p> 
      </h3></div>
   </div>
   
  
   

   
    
    


</body>
</html>